<div class="footer">
        <div class="footer_elements">
        <ul>
  <li>&copy; Fitness Buddies </li>
  <li><a href="about">ABOUT</a></li>
  <li><a href="contact">CONTACT</a></li>
  </ul>
  </div>

 </div>
