
     <div class="main_heading">
	     <div class="logo">
		 <a href="/">
         <img src="../assets/images/logo.png" alt="logo">
		 </a>

		 </div>
		    <% include navigation.ejs %>

         <div class="Link_connections">
		 <a href="connections">Fitness Buddies </a>

		 </div>
       
		 </div>
