<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Fitness Buddies</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel ="stylesheet" href="../assets/css/Style.css">
</head>
<body>

      <% include partials/header.ejs %>

		 <div class="main_content about">
		    <h1> About Fitness Buddies</h1>

			<p> As everyone has become busy with their indiviual lives there is no time for fitness  </p>
      <br>
			<p> Fitness Buddies is a platform where you can meet people who have similar fitness goals as you </p>
      <br>
			<p>Train with experts and become a fitness fanatic</p>


			</div>
      <% include partials/footer.ejs %>


</body>
</html>
